@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.gold-btn {
  color: #fff;
  border: 1px solid #eb9a27;
  border-bottom-width: 3px;
  text-shadow: 0 1px #da8914;
  background-color: #fbaf42;
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #999;
  padding: 5px;
}

select {
  padding: 5px;
}

